/*---------------------------------
  sitemap
---------------------------------*/

.sitemap {

    border-right: 1px solid #ccc;

    @include tab {
        display: flex;
    }
}

.sitemap__list {
    border-left: 1px solid #ccc;

    @include tab {
        width: 25%;
        padding-left: 40px;
    }

    > li {
        margin-top: 20px;

        &:first-child {
            margin-top: 0;
        }

        > a {
            font-size: 1.8rem;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.sitemap__list__sub {
    margin-top: 10px;

    > li {
        line-height: 1.87;
        
        > a {
            font-size: 1.6rem;
            font-weight: bold;
            text-decoration: none;
            position: relative;

            &:hover {
                text-decoration: underline;
            }
            
            &::before {
                content: "-";
                padding-right: 5px;
            }
        }
    }
}