/*---------------------------------
  footer
---------------------------------*/
.contact {
  padding: 60px 0;
  background-color: #F2F2F2;
}

.contact__btn {
  max-width: 500px;
  margin: 30px auto 0;

  > a {
    font-size: 2.2rem;
    font-weight: bold;
  }
}

.contact__tel {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tab {
    flex-direction: row;
    justify-content: center;
  }

}

.contact__tel__text {
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 30px;
}

.contact__tel__phone {
  position: relative;
  font-size: 3.4rem;
  font-weight: bold;
  padding-left: 25px;
  margin-right: 5px;

  &::before {
    content: "";
    width: 16px;
    height: 24px;
    background: url(../images/footer-contact-tel-icon.png) no-repeat left top;
    position: absolute;
    top: 10px;
    left: 0;
  }
}

.contact__tel__time {
  font-size: 1.4rem;
  font-weight: bold;
}

.contact__tel__box {
  margin: 40px auto 0;
  max-width: 960px;
  background-color: #fff;
  padding: 30px;

}

.contact__tel__box__col2 {


  @include tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.contact__tel__box__col {
  &:first-child {
    display: flex;
    align-items: center;
  }
}

.contact__tel__box__free {
  width: 60px;
  height: 60px;
  border: 2px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 20px;
  flex: 0 0 60px;
}

.contact__tel__box__text {
  font-size: 1.8rem;
  font-weight: bold;
}

.contact__tel__box__btn {
  max-width: 300px;
  margin: 10px auto 0;

  @include tab {
    flex: 0 0 300px;
    margin-top: 0;
    margin-left: 20px;
    width: 300px;
  }


  > a {
    font-size: 1.6rem;
    font-weight: bold;
  } 
}

.footer {
  background-color: #222;
  padding: 60px 0;
  color: #fff;
}

.footer__item {


  @include pc {
    display: flex;
    justify-content: space-between;
  }
}

.footer__adress {
  font-size: 1.4rem;
}

.footer__navs {
  margin-top: 20px;

  @include tab {
    display: flex;
  }
}

.footer__links {
  margin-top: 18px;

  @include tab {
    margin-left: 30px;
    margin-top: 0;
  }

  &:first-child {
    @include tab {
      margin-left: 0;
    }
  }

  > li {
    margin-top: 18px;

    &:first-child {
      margin-top: 0;
    }

    > a {
      color: #fff;
      font-weight: bold;
      text-decoration: none;
      font-size: 1.4rem;
      position: relative;
      padding-left: 20px;

      &:hover {
        text-decoration: underline;
      }

      &::before {
        content: "";
        width: 12px;
        height: 2px;
        background-color: #0070C5;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &::after {
        content: "";
        width: 7px;
        height: 7px;
        border-top: 2px solid #0070C5;
        border-right: 2px solid #0070C5;
        transform: translateY(-50%) rotate(45deg);
        position: absolute;
        top: 50%;
        left: 7px;
      }
    }
  } 
}

.footer__links__sub {
  margin-top: 10px;

  > li {
    > a {
      text-decoration: none;
      color: #fff;
      font-size: 1.4rem;
      position: relative;
      padding-left: 20px;

      &:hover {
        text-decoration: underline;
      }

      &::before {
        content: "";
        width: 4px;
        height: 1px;
        background-color: #0070C5;
        position: absolute;
        top: 50%;
        left: 10px;
      }
    }
  }
}

.footer__copy {
  margin-top: 30px;
  text-align: center;
  font-size: 1.4rem;
}