/*---------------------------------
  header
---------------------------------*/
.header {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #fff;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
}

.header__logo {
  width: 137px;
  flex: 0 0 137px;
}

.header__nav {
  display: none;
  
  @include tab {
    display: block;
  }

  &.is-open {
    display: block;
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: #fff;
    height: 100vh;
  }

  > ul {
    padding: 20px;

    @include tab {
      display: flex;
    }

    > li {
      margin-top: 20px;
      text-align: center;

      @include tab {
        margin: 0 15px;
        text-align: left;
      }

      > a {
        text-decoration: none;
        font-size: 1.5rem;
        color: inherit;
        font-weight: bold;
 
      }
    }
  }
}

.sp__btn {
  border: none;
  background: none;
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;

  @include tab {
    display: none;
  }

  &::before,
  &::after {
    content: "";
  }

  > span,
  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #0070C5;
    transition: .2s;
  }

  &::before {
    top: 0;
  }

  > span {
    top: 15px;
  }

  &::after {
    top: 30px;
  }

  &.is-active {
    > span {
      display: none;
    }

    &::before {
      transform: rotate(45deg);
      top: 13px;
    }

    &::after {
      transform: rotate(-45deg);
      top: 13px;
    }
  }

}

.header__primary {
  display: none;

  @include pc {
    align-items: center;
    display: flex;
  }
}

.header__tel {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: right;
  position: relative;

  &::before {
    content: "";
    width: 10px;
    height: 15px;
    background: url(../images/header-contact-tel-icon.png) no-repeat left top;
    position: absolute;
    top: 3px;
    left: -15px;
  }

  > span {
    display: block;
    font-size: 1.2rem;
  }
}

.header__btn {
  width: 130px;
  margin-left: 20px;

  > a {
    font-size: 1.4rem;
    font-weight: bold;
  }
}