meta(charset='utf-8')
meta(name='viewport' content='width=device-width,initial-scale=1')
meta(name='format-detection' content='telephone=no')
meta(http-equiv='X-UA-Compatible' content='IE=edge')

link(rel="stylesheet", href='/asset/css/master.min.css')
script(src='/asset/js/jquery-3.6.0.min.js' defer)
script(src='/asset/js/run.js' defer)
